[submodule "documentazione"]
	path = documentazione
	url = https://github.com/Maxelweb/swe-docs
[submodule "kafka-db"]
	path = kafka-db
	url = https://github.com/Maxelweb/swe-kafka-db
[submodule "gateway"]
	path = gateway
	url = https://github.com/Maxelweb/swe-gateway
[submodule "api"]
	path = api
	url = https://github.com/Maxelweb/swe-api
[submodule "webapp"]
	path = webapp
	url = https://github.com/Maxelweb/swe-webapp
